
html,body {
    overflow: hidden;
    height: 100%;
}

.blob-container {
    width: 100%;
    height: 75%;

    background-image: url("../assets/images/Vector.png");
    transition: background 1s;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    display: flex ;
    justify-content: center;
    align-content: center;

    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.1));

}

body {
    transition: background 1s;
}

.field-container {
    display: flex ;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: fit-content;
    padding-bottom: 2.5%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    overflow: hidden;
    padding-top: 45px;
}

#login-form-title {
    color: #FFFFFF;
    font-weight: 800;
    font-family: "Jura", sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    -webkit-text-stroke: .7px rgba(255,255,255, 0.5);
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.1));
    text-align: center;
}

input[type="submit"] {
    max-width: 500px;
    max-height: 80px;
    min-width: 380px;
    min-height: 60px;
    border-radius: 12px;
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.1));
    text-decoration: none;
    background: #4E569F;
    margin: 25px 0 0 0;
    padding: 5px 12px 5px 12px;
    border: none;

    text-align: center;
    font-size: 25px;
    font-weight: normal;
    font-family: "Jura", sans-serif;
    color: #FFFFFF;
}

input[type="submit"]:hover {
    outline: none;
    background: #4E5680;

    cursor: pointer;
}

input[type="submit"]:focus {
    outline: none;
}



.input-text-box {
    display: flex;
    max-width: 500px;
    max-height: 80px;
    min-width: 380px;
    min-height: 60px;
    border-radius: 12px;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    background: #FFFFFF;
    margin: 25px 0 0 0;
    padding: 5px 12px 5px 12px;

}

.display-vertical-container {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-direction: column;
}

.input-text-box-title {
    font-weight: 800;
    font-size: 16px;
    color: #515151;
    font-family: "Jura", sans-serif;
}

.input-text-box-content {
    font-weight: 500;
    font-size: 23px;
    font-family: "Jura", sans-serif;
    border: none;
}

input:focus{
    outline: none;
}

.register-container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    margin: 25px 0 0 0;
}

.register-container > * {
    font-weight: 600;
    font-size: 20px;
    font-family: "Jura", sans-serif;
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.1));
}

/* MEDIA QUERIES */

/* The animation code */
@keyframes grow-background {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 500%;
        background-color: #92A0FF;
    }
}


/* Landscape phone to portrait tablet */
@media (max-width: 800px) {


    .blob-container {

        animation: grow-background 1s ease-in-out;
        background-color: #92A0FF;

        filter: none;
    }

    body {
        animation: grow-background 1s ease-in-out;
        background-image: none;
        background-color: #92A0FF;
    }


    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        overflow: hidden;
    }
}

/* Landscape phones and down */
@media (max-width: 400px) {
    body {
        background-color: #92A0FF;
    }

    .blob-container {
        background-image: none;
        background-color: #92A0FF;

        filter: none;
    }
}
